
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  /* width: 960px */

}

body {
  font-family: 'Lato', sans-serif;  
  background-position: center top;
  background-size: cover;
  margin: 0;
  /* width: 960px */
}


.home-btn {
float: right;
margin-right: 75%;
background-color: #4aaaa5;
border color: #cccccc;
}

.home-btn a {
  position: relative;
  margin-right: 30px;
  padding: 8px 18px;
  
}

.home-btn a:active {
  position: 60%;
  bottom: 2px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height:70px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 20px;
  border: 5px solid #FFF;
}



/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 20px;
  display: inline;
}

nav ul {
  display: inline;
}


nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

